/* 
    Document   : stile.css
    Created on : 30-set-2015, 18.46.03
    Author     : amm
    Description:
        Purpose of the stylesheet follows.
*/


/*Impostazioni generali*/

body {
	
	font-size: 32px;
	font: 14px "Open Sans", Arial, sans-serif;
        text-align: center;
}



header {
        clear: both;
        background-color: #263339;
        padding-top:15px;
        padding-bottom:15px; 
}

#nav{
    clear: both;
    font-size:12px;
    height: 70px;
}



#menu {
		
	}
	#menu ul li {
		float:left;
		margin:0 2px 0 0;
                list-style: none;
	}
	#menu ul li a {
		padding:8px 12px;
                color: black;
	}


#nav {
        background-color: #ededed;
        
}

#content  {
	background-color: white;
        display: block;
        border-top: 2px;
        height: auto;
}




#footer {
        clear: both;
        background: #263339;
	padding: 10px 0;
        text-align: center;
        color: white;
}

.validator{
        text-align: center;
        
        color: #f6f6f6;
}
.validator a:link{
        text-decoration: underline;
       
}

validator a:visited{
        text-decoration: underline;
        
}

validator a:hover{
        font-weight: bold;
}


.xhtml {
        padding-left: 20px;
        margin-left: 10px;
        background: url('../images/img19.gif') no-repeat;
        color: #f6f6f6;
}

.css {
        padding-left: 20px;
        margin-left: 10px;
        background: url('../images/img20.gif') no-repeat scroll left center transparent;
        color: #f6f6f6;
}


#footer_menu{
        text-align: left;
        
        
        
      
       
}



#footer_menu ul li{
        display: inline-block;  
        padding-left: 10px;
        
}

.footer_menu ul li a{
        color: white;        
}


#footer_menu a:link{
        text-decoration: underline;
         color: white;  
      
      
}

#footer_menu a:visited{
        text-decoration: underline;
         color: white;  
        
        
}

#footer_menu a:hover{
        font-weight: bold;
         color: white;  
}

 
.errore
{
    font-size:30px;
    color: #FF0000;
}
    
.warning, .error {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
    font-weight:bold;
    text-transform:uppercase;
}
.warning {    
    background:#fff8c4 10px 50%;
    border:1px solid #f2c779;
}

.error {
    background:#ffecec 10px 50%;
    border:1px solid #f5aca6;
}
    




























    
/*Impostazioni PC*/
@media all and (min-width:1024px) {

 #page{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px;
        background-color: #ededed;
        width: 1280px;/*1536px;*/
        margin: 30px auto;

}

    
}    





/*Impostazioni Tablet*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {

#page{
	background-color: #ffffff;
	box-shadow: 0px 0px 10px;
        background-color: #ededed;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

#nav {
	width: 100%;
       
        clear: both;
}

#content {
    border-top: 2px dotted; 
    clear: both;
}

}






/*Impostazioni smartphone*/
@media only screen and (max-width: 600px) {
    
    #content  {
        font: 10px;
    }
    
    #logina{
        width: 250px;
        height: 200px;
        margin: 0 auto;
    }
    
     #loginc{
        width: 250px;
        height: 200px;
        margin: 0 auto;
    }
    
    
    #suba{
        width: 250px;
        height: 1000px;
        margin: 0 auto;
    }
    
     #subc{
        width: 250px;
        height: 200px;
        margin: 0 auto;
    }
   
    
    
     #logina, #suba, #loginc,#subc    {
       
   /*    padding-bottom: 30px;
       border-left: 2px dotted #0982B4;
       border-right: 2px dotted #0982B4;
       border-bottom: 2px dotted #0982B4;*/
}
    .social ul{
        display: block;
        margin-right: 10px;
    }
}









